<div class="container">
  
  <div class="well">
      <span style="color:red">Looking for healthy resources?</span>
      <a class="btn btn-primary pull-right" href="https://foodoasis.la/search/" target="_blank">See the Map</a>
  </div>
  
  <div class="clearfix"></div>
  
  <p>We've built a comprehensive directory of organizations in Los Angeles active in helping to create Food <br>Security for all Angelenos. Find one or add yours!</p>
  
  <div class="well">
    <div class="text-center">
      <p><b>NOTE: SEARCHES ARE STRICT, SO RESULTS WILL ONLY RETURN ORGANIZATIONS IF THEY CONTAIN ALL, NOT JUST SOME, OF YOUR SELECTED CATEGORIES.</b></p>
      <!--<p>Select one or more categories, then click the <b>Search</b> button to search the categories selected.</p>
      <p>Select <b>Clear Search</b> to begin selecting categories again.</p>-->
    </div>
    
    <form ng-submit="searchValues()" novalidate>
      <!-- Category Filter Checkboxes Row 1 -->
      <div class="row">
        <!-- First group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Non-Profit Organization']" uib-btn-checkbox>Non-Profit Organization
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Religious']" uib-btn-checkbox>Religious
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['Government Agency']" uib-btn-checkbox>Government Agency
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['Government Subsidy']" uib-btn-checkbox>Government Subsidy
            </label>
          </div>  
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['For-Profit']" uib-btn-checkbox>For-Profit
            </label>
          </div>
        </div><!-- End First group of checkboxes -->

        <!-- Second group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Community-Based Organization or Individual']" uib-btn-checkbox>Community-Based Organization or Individual
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Research and Studies']" uib-btn-checkbox>Research and Studies
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Food Resource']" uib-btn-checkbox>Food Resource
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Farming / Gardening']" uib-btn-checkbox>Farming / Gardening
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Legislation']" uib-btn-checkbox>Legislation
            </label>
          </div>
        </div><!-- End Second group of checkboxes -->

        <!-- Third group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Advocacy']" uib-btn-checkbox>Advocacy
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Food Waste']" uib-btn-checkbox>Food Waste
            </label>
          </div>
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Skill Building / Educational']" uib-btn-checkbox>Skill Building / Educational
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Economic and Community Development']" uib-btn-checkbox>Economic and Community Development
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['Youth']" uib-btn-checkbox>Youth
            </label>
          </div>  
        </div><!-- End Third group of checkboxes -->
        
        <!-- Fourth group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['WIC']" uib-btn-checkbox>WIC
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Seniors']" uib-btn-checkbox>Seniors
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Obese']" uib-btn-checkbox>Obese
            </label>
          </div>  
        </div><!-- End Fourth group of checkboxes -->
          
      </div><!-- End Category Filter Checkboxes Row 1 -->
      
      
      <div class="row text-center" style="margin-top: 5%">
        <p>Search for any of the following: </p>
        <ul>
          <li ng-repeat="x in searchResults">{{x}}</li>
        </ul>
        <button class="btn btn-primary" type="submit" value="Search">Search Food</button>
        <button class="btn btn-primary" type="button" ng-click="clearValues()">Clear Search</button>
      </div>
    </form>
      
  </div>
  
  <ul ng-show="searchV">
    <li class="artist cf" ng-repeat="item in organizations | filterBy: ['categories']: searchV">
      <a href="#/details/{{organizations.indexOf(item)}}">
        <div class="info">
          <h2>{{item.orgName}}</h2>
          <h3>{{item.website}}</h3>
          <p>{{item.orgType}}</p>
        </div>
      </a>
    </li>
  </ul>  
</div>